body {
    margin: 0;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("/images/farm.jpg");
    background-size: cover;

}

#farm-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/farm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    z-index: 0;
}

#farm-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Adjust opacity as needed */
    z-index: -1; /* Ensure it's behind the text */
}

#farm-background h1 {
    position: relative;
    font-size: 7rem; /* Adjust font size as needed */
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: text shadow for better contrast */
}


.character1 img{
    max-width: 100%;
    height: 400px;
    }
    
.character2 img{
    max-width: 100%;
    height: 300px;
}

#npc-character {
    position: absolute;
    top: 55vh;
    left: 10vw;
    max-width: 100%;
}

#main-character {
    position: absolute;
    top: 47vh;
    left: 75vw;
    max-width: 100%;
}

.message-box{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    left: 5%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 40px;
    width: auto;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    gap: 20px;
}

.hidden {
    display: none;
}

.message-box input[type = number]{
    width: 500px;
    height: 70px;
    font-size: 60px;
}

.message-box button{
    width: auto;
    height: 70px;
    font-size: 60px;
}